.root {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 300px;
    border-radius: 15px;
    font-size: 16px;
    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.searchWrapper{
    display: flex;
    align-items: center;
}

.icon {
    width: 34px;
    height: 34px;
    opacity: 0.4;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.clearIcon {
    width: 34px;
    height: 34px;
    opacity: 0.4;
    cursor: pointer;
    &:hover {
        opacity: 0.8
    }
}